<!DOCTYPE html>
<html>

<head title="NASAPI Explorer">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/tabulator/css/tabulator_modern.min.css">
</head>

<body>
    <div id="container">
        <div id="left">
            <h1 id="title">Space Explorer</h1>
            <p id="byline">Out of this world!</p>
            <form id="loginForm">
                Username: <input type="text" id="login_username">
                Password: <input type="password" id="login_password">
                <button type="button" id="loginButton">Log In</button>
            </form>
            
            <form id="registerForm">
                Need to register? Enter your details and NASA API key below. <br>
                You can get an API key from <a href="https://api.nasa.gov/">https://api.nasa.gov/</a> <br> <br>
                Username: <input type="text" id="register_username">
                Password: <input type="password" id="register_password">
                API Key: <input type="text" id="register_apiKey"> <br>
                <button type="button" id="registerButton">Register</button>
            </form>
        </div>
        <div id="right">
            <h1 id="dispTitle"> ... </h1>
            <div id="dispContent">
                <img id="dispImage" src="<%=imgSrc%>" title="<%=text%>"> </img>
            </div>

        </div>
    </div>
    <script src="jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/tabulator/js/tabulator.min.js"></script>
    <script type="text/javascript" src="login.js"></script>
</body>

</html>